.container {width: auto;}

.headline {font-size: 3em;
            font-weight: 700;
                text-align:center;
                    font-family: 'Montserrat', sans-serif;
                        color:white;}



.byline {font-size: 1em;
            text-transform: uppercase;
                font-family: 'Montserrat', sans-serif; 
                    text-align: center;
                        color:white;}


.p {font-size: 1em;
        text-align: center;
            font-family: "Georgia", serif;
                line-height: 180%;
                    color: white;}


.chapter-heading {font-family: 'Montserrat', sans-serif;
                    text-align: justify;
                         font-size: 2em;
                            color:white;}

.style {background-color: black}

@media screen and (max-width: 500px) {
    .hide {
        display:none;
    }
}

.title {color: white;}

.card-text {font-size: 8px;}