.container {width: auto;}

.headline {font-size: 3em;
            font-weight: 700;
                text-align:center;
                    font-family: 'Montserrat', sans-serif;
                        color:white;}



.byline {font-size: 1em;
            text-transform: uppercase;
                font-family: 'Montserrat', sans-serif; 
                    text-align: center;
                        color:white;}


.p {font-size: 1em;
        text-align: left;
            font-family: "Georgia", serif;
                line-height: 180%;
                    color: white;}

.p2 {font-size: 2em;
        text-align: center;
            font-family: "Georgia", serif;
                line-height: 180%;
                    color: white;}


.chapter-heading {font-family: 'Montserrat', sans-serif;
                    text-align: justify;
                         font-size: 2em;
                            color:white;}

.style {background-color: black}

@media screen and (max-width: 500px) {
    .hide {
        display:none;
    }
}

.title {color: white;}

.card-text {font-size: 8px;
                text-align: center;}

.figcaption {color:white;
                font-style: italic;}

.card-body {text-align: left;}

.card-title {text-align: center;}

.text-muted {text-align: center;}

@import "compass/css3";

html {
  background: #eff0ef;
}

h1 {
  font-size: 16px; 
  text-align: center;
  margin-bottom: 40px;
}

.testimonial-quote {
    font-size: 16px;
}

.testimonial-quote blockquote {
    /* Negate theme styles */
    border: 0;
    margin: 0;
    padding: 0;

    background: none;
    color: whitesmoke;
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.4 !important;
    margin: 0;
    position: relative;
    text-shadow: 0 1px gray;
    z-index: 600;
}

.testimonial-quote blockquote * {
    box-sizing: border-box; 
}

.testimonial-quote blockquote p {
    color: #75808a; 
    line-height: 1.4 !important;
}

.testimonial-quote blockquote p:first-child:before {
    content: '\201C';
    color: #81bedb;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .3;
    position: absolute;
    top: -.4em;
    left: -.2em;    
    text-shadow: none;
    z-index: -300;
}

.testimonial-quote img {
    border: 3px solid #9CC1D3;
    border-radius: 50%;
    display: block;
    width: 120px;
    height: 120px;
    position: absolute;
    top: -.2em; 
    left: 0;    
}

.testimonial-quote cite {
    color: whitesmoke;
    display: block;
    font-size: .8em; 
}
  
.testimonial-quote cite span {
    color: whitesmoke;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px white; 
}

.testimonial-quote {
    position: relative; 
}

.testimonial-quote .quote-container {
    padding-left: 160px; 
}
  
.testimonial-quote.right .quote-container {
    padding-left: 0;
    padding-right: 160px; 
}

.testimonial-quote.right img {
    left: auto;
    right: 0;
}

.testimonial-quote.right cite {
    text-align: right; 
}