.container {width: 100%;}

.carousel-item {position: relative !important;}

.black-overlay {position: absolute;
                position: absolute;
                top: 880px;
                left: 0px;
                height: 10%;
                width: 100%;
                background: rgba(0, 0, 0, 0.6);}

.black-overlay-second {position: absolute;
                        position: absolute;
                        top: 730px;
                        left: 0px;
                        height: 10%;
                        width: 100%;
                        background: rgba(0, 0, 0, 0.6)}