.btn-primary { background-color: deepskyblue; 
                color: white;
height: 35px;
font-family: 'Didact Gothic', sans-serif;}


.btn-info {background-color: #e1e4fa;
            color:#f53196;
height: 35px;
font-family: 'Didact Gothic', sans-serif;}

.btn-success {background-color: #37aee6;
            color: white;
    font-family: 'Didact Gothic', sans-serif;
height: 35px;}

.btn-warning {background-color: #1d67c2;
                color: white;
                height: 35px;
                font-family: 'Didact Gothic', sans-serif;}

.btn-dark {background-color: white;
                color: black;
                height: 35px;
                font-family: 'Didact Gothic', sans-serif;}
